* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}


body {
  color: #fff;
  font-family: Inconsolata, monospace;
  font-size: 100%;
  line-height: 1;
  min-height: 100%;
}

body.noite {
  background-color: #161650;
}

body.dia {
  background-color: #99ccfc;
}

body > img:first-child {
  display: block;
  text-align: right;
}

#weather-icon {
  content: "";
  display: block;
  height: 120px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 60% top;
  margin-top: 2rem;
}

#page-wrapper {
  margin: 2rem auto 4rem;
}

header h1 {
  font-size: 1.45rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.25rem;
  vertical-align: bottom;
  margin-left: calc(50% - 120);
}

header h1 a {
  color: rgba(255, 255, 0, 0.6);
  text-shadow: 0 0 12px rgba(255, 255, 0, 0.6);
  text-decoration: none;
}

header h1 strong {
  font-size: 4.5rem;
  vertical-align: middle;
}

.main {
  width: 90%;
  display: flex;
  align-items: end;
  justify-content: center;
  margin: 0 auto;
}

ul#hotel {
  display: grid;
  grid-gap: 2rem 1rem;
  grid-template-columns: repeat(auto-fill, minmax(28px, 1fr));
  grid-auto-rows: 1fr;
  width: 240px;
  background-color: #303064;
  padding: 2.5rem 1.5rem 6.5rem 1.5rem;
}

ul#hotel::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

body.dia ul#hotel {
  background-color: #fff;
}

#hotel li {
  list-style-type: none;
  position: relative;
}

ul#hotel li:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

#hotel li a {
  color: transparent;
  text-decoration: none;
  background-color: #161650;
  height: 100%;
  display: flex;
  height: 100%;
  width: calc(100% - 10px);
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  box-shadow: inset -8px 8px 0 rgba(255, 255, 255, 0.15);
}

#hotel li a:nth-child(6n),
#hotel li a:nth-child(6n) [data-tooltip] {
  border-radius: 50% !important;
}

body.dia #hotel li a {
  background: #ececec url("persianas.png") repeat center center;  
  border: 2px solid #ddd;
}

body.dia #hotel li.online a,
#hotel li.online a {
  background-color: #feffaa;
  border-color: rgba(255, 255, 0, 0.4);
  background-image: none;
  box-shadow: 0 0 12px rgba(255, 255, 0, 0.6);
}

body.dia #hotel li.online a {
  background-color: yellow;
}

/* tooltips do bulma
   mas sem serem respondonas
*/

[data-tooltip] {
  cursor: pointer;
  overflow: visible;
  position: relative;
  height: 100%;
  display: flex;
  height: 100%;
  width: 100%;
}

[data-tooltip]::before,
[data-tooltip]::after {
  font-size: 0.975rem;
  hyphens: auto;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  z-index: 1000;
}

[data-tooltip]::before  {
  content: attr(data-tooltip);
  display: inline-block;
  color: #fff;
  background-color: rgba(52, 40, 44, 1);
  padding: 0.5rem;
  text-overflow: ellipsis;
  white-space: pre;
  top: auto;
  right: auto;
  bottom: 0;
  left: 50%;
  margin-top: auto;
  margin-bottom: -5px;
  transform: translate(-50%, 100%);
}

[data-tooltip]::after {
  content: '';
  border-style: solid;
  border-width: 6px;
  top: auto;
  right: auto;
  bottom: 0;
  left: 50%;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: -6px;
  margin-left: -5px;
  border-color: transparent transparent rgba(52, 40, 44, 1) transparent;
}

[data-tooltip]:hover::before,
[data-tooltip]:focus::before,
[data-tooltip]:hover::after,
[data-tooltip]:focus::after {
    opacity: 1;
    visibility:visible;
}

#rececao {
  background-color: #303064;
  display: flex;
  width: 200px;
  height: 130px;
  align-items: end;
  justify-content: center;
}

#rececao span {
  color: transparent;
  display: block;
  padding: 1.15rem 0.25rem;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset -8px 8px 0 rgba(255, 255, 255, 0.4);
}
